{:deps {org.clojure/clojurescript {:mvn/version "1.10.764"}
        esprit/esprit {:mvn/version "1.0.0"}}
 :paths ["src" "resources"]
 :aliases {:erase {:main-opts ["-m" "esprit.flash"
                               "--erase"]}
           :bootstrap {:main-opts ["-m" "esprit.flash"
                                   "--bootstrap"]}
           :build {:main-opts ["-m" "cljs.main"
                               "-co" "@build-opts.edn:@build-secrets.edn"
                               "-c" "rainbow.core"]}
           :rom {:main-opts ["-m" "esprit.make-rom"]}
           :flash {:main-opts ["-m" "esprit.flash"
                               "-f" "out/main.bin"]}
           :repl {:main-opts ["-m" "cljs.main"
                              "-re" "esprit"
                              "-r"]}}}
